* {
	margin: 0;
	padding: 0;
	font-family: "HeiTi";
}

body {
	width: 100%;
	background-color: #f8f9fb;
}

a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

.aside_nav_list a:link, .aside_nav_list a:visited {
	text-decoration: none;
	color: #565961;
}

#myCanvas {
	border: 1px solid #000; 
	cursor: crosshair; 
	background: url('') no-repeat center;
		/*background-size: cover;*/ 
	background-size: 1160px 817px;
}

.hid_panel {
	display: none;
	position: absolute;
	z-index: 3;
	height: 20px;
	background-color: #e9edf3;
	/*padding: 0px 10px;*/
}

.hid_panel span {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	text-align: center;
	overflow: hidden;
/*	border-radius: 50%;
	background-color: #ca0613;*/
/*	margin-right: 10px;*/
}

.hid_panel img:last-child {
	/*margin-right: 0px;*/
/*	background-color: #bda500;*/
}

.hid_panel img {
	width: 10px;
	height: 10px;
	vertical-align: top;
/*	width: 10px;
	height: 10px;*/
	overflow: hidden;
/*	margin-right: 10px;*/
}

.setting_panel {
	display: none;
	position: absolute;
	z-index: 3;
	background-color: #e9edf3;
	padding: 5px 10px;
}

header {
	width: 100%;
	padding: 15px 20px;
	height: 80px;
	background-color: #ffffff;
	border-bottom: 1px rgba(200, 200, 200, 0.5) solid;
	color: #363636;
}

main{
	/*overflow: hidden;*/
	/*padding-top: 20px;*/
}


aside {
	color: #6a6e76;
	display: inline-block;
	vertical-align: top;
	width: 15%;
	/*min-width: 210px;*/
	margin-top: 20px;
}

.main_content {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 84%;
	padding: 0px 60px;
	border-left: 1px solid rgba(200, 200, 200, 0.5);
	margin-top: 20px;
	margin-bottom: 20px;

	min-height: 600px;
}

.aside_nav {
	display: inline-block;
	width: 15%;
}

.aside_nav_list {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 0px;
}

.aside_nav_list-item {
	border-radius: 2px;
	padding: 5px 0px;
	padding-left: 2em;
	display: block;
	margin: 15px 0px;
	font-size: 16px;
}

.aside_nav_list-item:first-child {
	margin-top: 0px;
}

.aside_nav_list-item-icon {
	font-size: 16px;
	margin-right: 15%;

	/*使其固定宽度*/
	display: inline-block;
	/*width: 25px;*/
	width: 15%;
}

.aside_nav_list-item:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

.selected {
	border-left: #337ab7 3px solid;
	color: #337ab7 !important;
	background-color: transparent !important; 
}

.selected .badge {
	color: #ffffff;
	background-color: #337ab7 !important;
}

.first_line, .second_line {
/*	width: 100%;*/
}

.second_line {
	margin: 20px 0px;
/*	padding: 0px 15px;*/
	position: relative;
}

.second_line_img {
	width: 20%;
	margin-right: 4%;
	padding: 0px;
	background-image: url('../pic/shibie_placehold.png');
	background-color: #ffffff;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.second_line_img:last-of-type {
	margin-right: 0px;
}

.second_line_img img{
	width: 100%;
	height: 100%;
}

.second_line_img_ft {
  vertical-align: middle;
  content: " ";
  height: 30px;
  width: 30px;
  border-width: 4px 4px 0px 0px;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(.71, .71, -.71, .71, 0, 0);
  display: inline-block;
}

.second_line_img_hd {
  vertical-align: middle;
  content: " ";
  height: 30px;
  width: 30px;
  border-width: 4px 4px 0px 0px;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(-.71, -.71, .71, -.71, 0, 0);
  display: inline-block;
}

.vertical_line_img {
  width: 80%;
  display: block;
  margin: 10px auto;
}

.vertical_line_img_hd {
  margin: 0 auto;
  content: " ";
  height: 30px;
  width: 30px;
  border-width: 0px 4px 4px 0px;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(-.71, -.71, .71, -.71, 0, 0);
  display: block;
}

.vertical_line_img_ft {
  margin: 0 auto;
  content: " ";
  height: 30px;
  width: 30px;
  border-width: 0px 4px 4px 0px;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(.71, .71, -.71, .71, 0, 0);
  display: block;
}

.fault_img, .ku_img_container {
	width: 23%;
	margin-right: 2%;
	display: inline-block;
	margin-bottom: 20px;
}

.fault_img:last-of-type, .ku_img_container:last-of-type {
	margin-right: 0px;
}

.ku_img, .rect_img, .list_muban .fa-image, .muban_table tbody tr, .muban_table th{
	cursor: pointer;
}

.muban_table th:hover {
	background-color: rgba(200,200,200,0.3);
	background-clip: padding-box;
	border-radius: 5px;
	box-shadow: 0px -1px 5px rgba(0,0,0, 0.2);
}

.ku_img_container {
	height: auto;
}

.ku_img {
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}

.ku_img_id {
	font-size: 14px;
	text-align: center;
}

.rect_img {
	/*width: 8.5%;*/
	/*margin-right: 1%;*/
	margin-right: 30px;
	display: inline-block;
	margin-bottom: 20px;
}

.select_image {
	border: 1px #66afe9 solid;
	outline: 0;
	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.1),0px 0px 25px rgba(102,175,233,.85);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1),0px 0px 25px rgba(102,175,233,.85);
}

/* login.html */

.login_main {
	width: 25%; 
	position: absolute; 
	top: 50%; 
	left: 50%;
	/*margin: 0 auto; */
	padding: 0px 10px 20px; 
	text-align: center; 
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
}

.login_nav {
	margin-bottom: 20px; 
	text-align: center;
	background: transparent;
}

.login_nav li {
	display: inline-block;
	width: 50%;
}

.login_nav li.active {
	border-bottom: 1px solid #3885ee;
}

.login_nav li.active a{
	border: 0px !important;
	background-color: #ffffff !important;
}

.tab-content form button {
	width: 45%;
	margin-right: 5%;
	margin-top: 30px;
}

.tab-content form button:last-of-type {
	width: 45%;
	margin-right: 0px;
}

.tab-content form .input-group {
	margin-bottom: 20px;
}

.flex_line {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_item {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.nonflex_item {
	-webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.list_muban_contain {
	display: inline-block;
	width: 20%;
	margin-right: 5%;
	margin-top: 10px;
}

.list_muban_contain:nth-of-type(4n) {
	margin-right: 0px;
}

.list_muban_contain .ku_img_id{
	font-size: 16px;
	margin-left: 0.5em;
}

.list_muban_contain .fa {
	font-size: 30px;
	color: #0078d7;
}

.sorted_down:after {
	font-family:'FontAwesome'; 
	content: "\f0d7";
	margin-left: 0.5em;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.sorted_up:after {
	font-family:'FontAwesome'; 
	content: "\f0d8";
	margin-left: 0.5em;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.hid_panel span:hover, .hid_panel span:active {
	background-color: #ccd1d9;
}

.disabled_button {
	background-color: #e9edf3 !important;
}

.ui-slider-handle:active {
	background-color: #aaaaaa !important;
	border: 0.5px solid rgba(200, 200, 200, 1) !important;
}

.info_red {
	color: red;
}

.info_blue {
	color: #337ab7;
}

#slide_tooltip {
	opacity: 0;
	transition: opacity 0.5s;
    width: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20px;
}

#slide_tooltip:after {
 	content: " ";
    position: absolute;
    top: 100%; /* 提示工具在顶部 */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.waiting_list_item {
	font-size: 60px;
	color: rgba(100, 100, 100, 0.5);
}

.waiting_list {
	padding: 30px 40px;
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-h {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-none {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-align-end {
	-webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.aside_nav_list {
	padding: 0px;
}

.main_content_hd {
	font-size: 24px;
	color: #363636;
	margin-bottom: 1em;
}

.panel_hd_line {
	margin-bottom: 0.5em;
}

.dateTime_select .form-control, .keyword_select .form-control {
	width: auto;
	display: inline-block;
	height: auto;
	padding: 0px 5px;
	margin: 0px 5px;
}

.form_hd {
	font-size: 16px;
	width: 10%;
	display: inline-block;
}

.panel-box-shadow {
	/*border-style: solid;*/
	border-style: none;
	box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.1), -0.5px 0.5px 1px rgba(30, 30, 30, 0.1);
}

.select_result {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.select_result_hd {
	font-size: 20px;
	margin-bottom: 20px;
}

.text_describe {
	margin-top: 10px;
}

.detect_div_container {
	margin-top: 30px;
}

.detect_div_hd {
	font-size: 20px;
	margin-bottom: 1em;
}

.detect_div_hd span {
	font-size: 14px;
	color: gray;
	margin-left: 2em;
}

.table_display_container {
	display: table;
	width: 100%;
	border-spacing: 0px 0px;
}

.table_display_row {
	display: table-row;
	width: 100%;
}

.table_display_th {
	display: table-cell;
	padding: 20px 10px;
	background-color: rgba(220, 220, 230, 0.3);
	color: gray;
}

.table_display_td {
	padding: 20px 10px;
	display: table-cell;
	border-bottom: 1px solid rgba(220, 220, 230, 0.6);
}

.table_display_td:first-child, .table_display_th:first-child {
	width: 100px;
}

.ownedit_table .table_display_td:last-child a{
	cursor: pointer;
}

.ownedit_table .table_display_td:last-child a:hover{
	text-decoration: underline;
}

/*.grant_table {
	overflow-x: scroll;
}*/

.user_grant_table .table_display_td, .user_grant_table .table_display_th, .users_grant_table .table_display_td, .users_grant_table .table_display_th, .edit_grant_table .table_display_td, .edit_grant_table .table_display_th{
	text-align: center;
	color: gray;
	font-size: 16px;
	min-width: 120px;
}

.user_grant_table .table_display_td:first-child, .user_grant_table .table_display_th:first-child, .users_grant_table .table_display_td:first-child, .users_grant_table .table_display_th:first-child {
	/*min-width: 200px;*/
	text-align: left;
	color: black;
}

.user_grant_table .table_display_td:nth-child(5), .user_grant_table .table_display_td:nth-child(6), .user_grant_table .table_display_th:nth-child(5), .user_grant_table .table_display_th:nth-child(6){
	color: rgb(51,122,183);
}

.text_right {
	text-align: right;
}

.user_div, .users_div {
	padding: 10px 20px;
	background-color: rgba(220, 220, 230, 0.3);
	min-width: 200px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 25px;
	position: relative;
}

.users_div i {
	display: inline-block; 
	font-size: 40px; 
	margin-right: 10px; 
	vertical-align: middle;
	color: rgb(79, 93,115);
}

.user_desc, .users_desc {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	min-width: 60px;
	margin-left: 10px;
}

.user_desc p, .users_desc p {
	margin: 0px;
	line-height: 2em;
}

.edit_name {
	display: inline-block;
	width: 80px;
	margin-right: 10px;
}

#editModal {
	width: 600px;
}

#editModal input {
	display: inline-block;
	width: 420px;
}

.display_table_hover  .table_display_td[data-write='true']{
	background-color: rgba(220, 220, 230, 0.3);
}

.nav_disabled {
	color: rgba(180, 180, 180, 0.5) !important;
	cursor: default;
}

.nav_disabled:hover {
	background-color: transparent !important;
}

#myMoldal .modal-content {
	overflow: auto;
	width: 100%;
}

.modal_menu {
	opacity: 0;
	transition: opacity 0.4s;
	width: 150px;
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 50%;
	padding-top: 5px;
	margin-bottom: 10px;
	margin-left: -75px;
	border-radius: 6px;
	font-size: 14px;
	background-color: rgb(244, 244, 247);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.modal_menu:after {
	content: " ";
	position: absolute;
    top: 100%; 
    left: 50%;
	width: 0px;
    margin-left: -10px;
	border-width: 10px;
	border-style: solid;
    border-color: rgb(244, 244, 247) transparent transparent transparent; 
}

.modal_menu p {
	padding: 5px 15px;
}

.modal_menu p:hover {
	background-color: rgba(255, 255, 255, 1);
}

.users_member_div {
	position: relative;
}

.users_member_div i {
	display: inline-block;
	position: absolute;
	font-size: 20px;
	top: -10px;
	left: -10px;
	color: red;
}