<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">

	<!-- 开启注解扫描 -->
	<context:component-scan base-package="com.hl.*"></context:component-scan>

	<!-- 读取.properties配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:local.properties</value>
			</list>
		</property>
	</bean>

	<!-- 特殊bean，初始化后从配置文件加载到内存中 localConfig -->
	<bean name="localConfig" class="com.hl.domain.LocalConfig">
		<property name="ip" value="${local.ip}"></property>
		<property name="dataBasePath" value="${local.dataBasePath}"></property>
		<property name="imagePath" value="${local.imagePath}"></property>
		<property name="customerHost" value="${local.customerHost}"></property>
		<property name="customerPort" value="${local.customerPort}"></property>
	</bean>
	
	<!-- solr专用 -->
	<bean name="solrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
	    <constructor-arg value="${local.solrUrl}"></constructor-arg>
	</bean>
</beans>